@font-face {
    font-family: mc-font;
    src: url(./texture/mc-font.ttf);
}
body {
    padding: 0;
    margin: 0;
    image-rendering: pixelated;
    height: 100vh;
    overflow: hidden;
    background: #1D1F21;
    color: #DDD;
    -webkit-touch-callout:none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: mc-font;
    -webkit-tap-highlight-color: transparent;
}
